*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;	
}

header > .container{
	display: flex;
	height: 50px;
	align-items: center;
	justify-content: space-around;
	width: 100vw;
	background-color: #fff;
	margin: auto; 
	padding-top: 10px;
}

header > .container > .navbar > .nav-list{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	gap: 20px;
}

img.logo{
	/*width: 14%;*/
	width: 150px
	/*margin: 8px 80px 8px 0;*/
}

header > .container > .navbar > .nav-list li {
	list-style: none;
	/*text-decoration: none;	*/
}

header > .container > .navbar > .nav-list li a{
	text-decoration: none;
	color: #000;
	font-size: 13px;
}

.menu{
	display: none;
}

header > .container > .navbar > .nav-list li > .nav-link-1{
	color: red;
	padding-left: 30px;
}
.hero-section{
	background-image: url(../images/slider-bg.jpg);
	width: 100vw;
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
}

.hero-content{ 
	width: 650px;
	padding: 70px;
	padding-left: 170px;
}

.sale{
	color: red;
}
 #head-1{
 	font-size: 60px;
 }
#para{
	padding-top: 10px;
	color: black;
}

button{
	margin-top: 20px;
	padding: 10px;
	background-color: red;
	color: #fff;
	width: 100px;
	border: 0;
	font-weight: bold;
}

.boxes{
	display: flex;
	gap: 4px;
}
.box-1, .box-2{
	width: 10px;
	height: 10px;
	border: 1px solid #fff;
	margin-top: 40px;
	border-radius: 100px;
	background-color: #fff;
}

.box-3{
	width: 15px;
	height: 15px;
	border: 1px solid red;
	margin-top: 37px;
	border-radius: 100px;
	background-color: red;
}	

.main-content{
	display: flex;
	justify-content: center;
	gap: 30px;
}

.main-1, .main-2, .main-3{
	background-color: #002C3E;
	border: 1px solid black;
	color: #fff;
	width: 25%;
	height: 35vh;
	padding: 20px;
	margin-top: 40px;
	text-align: center;
}

h2{
	text-align: center;
	margin-top: 30px;
}

.icon{
	padding-top: 15px;
	font-size: 25px;
}

h4, p{
	padding-top: 10px;
}

p, .icon{
	color: #f0f0f0;
}
.text{
	/*text-decoration: underline;
	text-decoration-color: red;
	text-underline-offset: 10px; */
	position: relative;


}
.text::before{
	content: "";
	position:absolute;
	bottom:-7px;
	left:0;
	background-color: red;
	height:2px;
	width: 27px;
	transform: translateX(13%);
	
}
.post{
	background-image: url(../images/arrival-bg.png);
	width: 100vw;
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	margin-top: 40px;
	margin-bottom: 50px;
}
.post-content{
	margin: auto;
	width: 800px;
	padding-top: 20%;
	padding-left:30%;

}
.head-2{
	color: #002C3E;
	font-size: 25px;
}

#paragraph{
	color: #002C3E;
}

#product-1, #product-2, #product-3, #product-4{
	display: flex;
	justify-content: space-evenly;
}

.product-page{
	margin-top: 20px;
}

#product-1{
	margin-top: 60px;
}
#product-2, #product-3, #product-4{
	margin-top: 60px;
	/*padding-top: 20px;*/
}

#head-3{
	text-align: center;
	/*padding-top: 20px;*/
}

.product-red{
	color: red;
	position: relative;

}
.product-red::before{
	content: "";
	position:absolute;
	bottom:-7px;
	left:0;
	background-color: red;
	height:2px;
	width: 27px;
	transform: translateX(13%);
}

/*.contain{
	background-color: whitesmoke;
	opacity: 0.7
	width: 30vw;
	height: 200px;
}
.contain > .men{
	padding-bottom: 20px
}*/
.contain{
	background-color: whitesmoke;
/*	opacity: 0.7;*/
	width: 20%;
	position: relative;
	height: 35vh;
	box-shadow: 3px 4px 7px lightgrey;

}
.img-products{
	padding-left: 85px;
	padding-top: 35px;
	text-align: center;
	display: flex;
}

.product-button{
	background-color: red;
	width: 200px;
	color: white;
	margin-left: 43%;
	padding: 15px;
	margin-top: 50px;
}
.text{
	text-align: center;
	display: flex;
	justify-content: space-around;
	gap: 40px;

}
.shirts{
	/*text-align: center;
	display: flex;*/
	color: black;
	margin-top: 30px;
/*	margin-left: 5px;*/
	text-decoration: none;
}
.price{
	/*text-align: center;
	display: flex;*/
	color: black;
	margin-top: 30px;
/*	margin-left: 5px;*/
	text-decoration: none;
}

/*blog-section*/
.subscribe-section {
    background-color: #d3d3d3;
    padding: 30px;
}
.subscribe-section > h2, p{
        display: flex;
        justify-content: center;
        align-content: center;
}
.subscribe-section > .head-sub{
    font-size: 26px;
    color: midnightblue;
}

.subscribe-section > .para-sub{
    font-size: 13px;
    padding-left:  45px;
    color: black;
}
.subscribe-box {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.subscribe-box input{
    padding: 10px;
    width: 350px;
    border: 1px solid #ccc;
    border-radius: 16px;
}

.sub-btn {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.sub-btn button {
    width: 150px;
    padding: 10px 20px;
    margin-left: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 16px;
    cursor: pointer;
}
.testimonial-section{
	position: relative;
}
.testimonial-section > h2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.testimonial-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.customer-tes{
    font-size:  35px;
}
.customer-tes::before{
	content: "";
	position:absolute;
	bottom:250px;
	left:48.5%;
	background-color: red;
	height:2px;
	width: 34px;
	transform: translateX(13%);
}

.testimonial {
    text-align: center;
    margin: 20px;
}

.testimonial img {
    width: 100px;
    border-radius: 50%;
}
.img-class{
    display: flex;
    justify-content: space-evenly;
    align-items: center;  
    position: center; 
}
.prev-button{
    font-size: 16px;
    color: #fff;
    width: 25px;
    height: 25px;
    margin-top: 50px;
    border-radius: 100px;
    background-color: red;
}
.next-button{
    font-size: 16px;
    color: #fff;
    width: 25px;
    height: 25px;
    margin-top: 50px;
    border-radius: 100px;
    background-color: red;
}
#arrow{
    font-size: 10px;
}
footer {
    background-color: #f1f1f1;
    padding: 40px 20px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer-container img{
    width: 150px;
    padding-left: 30px;
}
.test-para, .customer{
	color: black;
}
#holder{
	padding: 20px;
}
.footer-container{
    gap: 90px;
}
.footer-container, .footer-brand, p{
    justify-content: center;
    align-content: center;  
}
.footer-menu ul, .footer-account ul {
    list-style: none;
    padding: 0;
}

.footer-menu ul li, .footer-account ul li {
    margin: 5px 0;
}

.footer-newsletter input{
    padding: 10px;
    width: 200px;
    height: 20px;
    border: none;
}
.footer-newsletter > .news-para{
    padding-right: 70px;
    color: black;
}

.footer-newsletter button {
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    height: 40px;
}

.copyright{
    background-color: black;
    width:  100%;
    height: 15vh;
    color: #fff;
    padding-top: 15px;
}
.copright > span, .free, .theme{
    color:  red;
}

.footer-brand > .telephone{
    padding-right: 155px;
    line-height: 50px;
    color: black;
}
.footer-brand > .email{
    padding-right: 170px;
    color: black;
}
.footer-brand > .address{
    padding-left: 30px;
    color: black;
}


/*media queries design*/
/*@media(min-width: 320px) and (max-width: 480px){*/


/*	mobile view*/
@media(min-width: 320px) and (max-width: 480px){
	.navbar{
		display: none;
	}
	.menu{
	display: block;
	font-size: 25px;
	margin-left: 30px;
	}

	.container{
		width: 320px;
	}
	img.logo{
		width: 150px;
		margin-left: -30px;
	}

	.hero-content{
		margin-left: -150px;
		width: 320px;
	}

	.sale{
		margin: auto;
		padding-top: -30%;
		font-size: 40px;
		width: 230px;
	}

	#head-1{
		font-size: 38px;
		width: 280px;
	}

	#para{
		width: 120px;
		font-size: 12px;
	}
	/*.main-content{
		display: flex;
		flex-flow: column;
		justify-content: center;
	}*/

	.main-content{
		justify-content: center;
		height: 40vh;
		gap: 2px;
	}


	.main-1, .main-2, .main-3{
		width: 100vh;
	}

	.main-1 > p, .main-2 > p, .main-3 > p{
		font-size: 10px;
	}

	.main-2, .main-3{
/*		margin-top: 3px;*/
	}

	.post-content{
		width: 250px;
		font-size: 12px;
	}
	
}

/*	bigger screen view*/
@media (min-width: 481px) and (max-width: 767px){
	.hero-content{
			width: 480px;
	}

	header > .container > .navbar > .nav-list li a{
		font-size: 10px;
	}

	.container{
		justify-content: space-between;
	}

	img.logo{
		width: 100px;
	}

	#head-1{
		width: 300px;
		margin-left: -90px;
		font-size: 50px;
	}

	.sale{
		width: 300px;
		font-size: 50px;
/*		margin-left: -90px;*/
	}

	#para{
		width: 140px;
		font-size: 13px;
		margin-left: -90px;
	}

	.btn1, .boxes{
		margin-left: -90px;
	}

	.boxes{
		margin-top: -30px;
	}

	.main-1, .main-2, .main-3{
		width: 30vw;
		height: 40vh;
	}

	.main-content{
		gap: 5px;
	}

	.post-content{
		width: 400px;
		margin-left: 10px;
		margin-right: 30px;
	}

	.head-2{
		width: 300px;
	}

	#paragraph{
		width: 250px;
		font-size: 12px;
	}

}


	/*tablet view*/
@media(min-width: 768px) and (max-width: 900px){
		#para{
			margin-left: -90px;
			width: 280px;
		}

		#head-1{
			margin-left: -90px;
			width: 400px;
		}

		.btn1, .boxes{
			margin-left: -90px;
		}

		.post-content{
			width: 520px;
		}

}